body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Segoe UI", sans-serif;
  text-align: center;
  color: #333333;
  /* Fondo alegre con notas musicales */
  background: radial-gradient(circle at top, #420a0a, #580e05 70%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título estilo infantil musical */
h2 {
  margin-top: 40px;
  font-size: 52px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #af1045;
  text-shadow: 2px 2px 0 #5d0505, 0 0 10px #ff0000;
  font-family: "Baloo 2", cursive;
}

/* Contenedor estilo escenario infantil */
.container {
  margin-top: 40px;
  padding: 40px 50px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  border: 4px dashed #440a27e7;
  box-shadow: 0 0 20px #ffccff, 0 0 40px rgba(255, 200, 255, 0.6);
  backdrop-filter: blur(6px);
}

/* Botón estilo juguetón musical */
button {
  margin-top: 25px;
  padding: 16px 40px;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive;
  color: #ffffff;
  background: linear-gradient(45deg, #420e1f, #3f0a0a);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 15px #ff8766, 0 0 30px #ff99cc;
  transition: 0.3s ease;
}
button:hover {
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0 0 25px #450a0a, 0 0 50px #ff0000;
}
button:active {
  transform: scale(0.95);
}

/* Botón de regreso estilo notas musicales */
.back-btn {
  margin: 40px 0 60px 0;
  padding: 16px 40px;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive;
  color: #ffffff;
  background: linear-gradient(45deg, #450b0b, #ff0000);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 15px #490d0b, 0 0 40px #571609;
  transition: 0.3s ease;
}
.back-btn:hover {
  transform: rotate(3deg) scale(1.1);
}
